-----BEGIN PRIVATE KEY-----
# This is a placeholder file for SSL private key
# Replace this file with your actual SSL private key (key.pem)
# 
# For Let's Encrypt:
# sudo cp /etc/letsencrypt/live/your-domain.com/privkey.pem ./key.pem
#
# For other certificate authorities:
# Place your private key file here as key.pem
#
# SECURITY WARNING: Never commit actual private keys to version control!
-----END PRIVATE KEY-----